<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Polling</title>
    <link rel="stylesheet" href="/css/layout.css">
</head>
<body>
    <h1>Resister Here</h1>
    <form action="/user/signup" method="post">
        <input class="long" type="text" name="name" placeholder="Your name" required><br><br><br>

        <input class="long" type="email" name="email" placeholder="Enter Email" required><br><br><br>

        <input class="long" type="password" name="password" placeholder="Enter Password" required> <br><br><br>

        <input class="long" type="password" name="confirm_password" placeholder="confirm password" required><br><br><br>

        <input class="middle" type="submit" value="Resister">
    </form>
</body>
</html>